.about-container{
    display: flex;
    font-size: 1.25rem;
    margin: 4rem 6rem;
    text-align: start;
    
}

.about-container h1{
    text-align: center;
    padding-bottom: 1rem;
}

.about-container p{
    padding-bottom: 2rem;
}

.mission-text{
    margin-top: 30px;
    width: 60%;
    margin-bottom: 30px;
}

.mission-img{
    margin-left: 10px;
    width: 40%;
}

.pic{
    width: 100%;
    height: auto;
    
}

ul li ul{
    margin-left: 20px;
}
ul {
    margin-left: 20px;
}
@media screen and (max-width: 1500px){
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;
        margin: 0;
        text-align: start;
        
    }
    .mission-text {
        width: 92%; /* Adjust the width to allow the text to fill the container */
    }

    .mission-img{
        display: none;
        margin: 0;
    }
}
