.about-container{
    display: flex;
    font-size: 1.25rem;
    margin: 4rem 6rem;
    text-align: start;
    
}

.about-container h1{
    text-align: center;
    padding-bottom: 1rem;
}

.about-container p{
    padding-bottom: 2rem;
}

.mission-text{
    width: 60%;
}

.mission-img{
    margin-left: 10px;
    width: 40%;
    
}

ul li ul{
    margin-left: 20px;
}
ul {
    margin-left: 20px;
}
@media screen and (max-width: 2300px){
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;
        margin: 1rem 1rem;
        text-align: start;
    }

    .mission-img{
        display: none;
    }
}
